.footer {
   padding: 50px 0;
   background-color: #272a33;

   h4 {
      color: #fff;
   }
}

.subMenus {
   li a {
      color: #98a0aa;
      padding-top: 8px;
      display: inline-block;
      font-size: 14px;
      transition: all .3s ease-in-out;

      a:hover {
         color: #dce6f3;
      }
   }
}