.chartMeetup {
   width: 100%;
   background: -webkit-linear-gradient(left, #4311a1 50%, #18379e 100%);
   background: linear-gradient(to left, #4311a1 50%, #18379e 100%);
   padding: 150px 120px;

   .describeChart {
      max-width: 500px;
      float: right;

      h4 {
         font-size: 12px;
         font-weight: 400;
         letter-spacing: 1px;
         text-transform: uppercase;
         color: #FFFFFF;
      }

      h2 {
         font-size: 28px;
         line-height: 1.2;
         margin-top: 20px;
         color: #FFFFFF;
      }

      p {
         line-height: 1.5;
         margin-top: 20px;
         margin-left: 0;
         color: #FFFFFF;
      }

      .btnGlow {
         padding: 0.5rem 1.5rem;
         background: #f1f1f1;
         color: #665391;
         border: 1px solid;
         border-color: #f1f1f1;

         border-radius: 4px;
         box-shadow: 0 10px 30px rgba(206, 132, 240, 0.502);
         margin: 24px 12px 0 0;
         -webkit-transition: 0.2s;
         -moz-transition: 0.2s;
         transition: 0.2s;

         &:active {
            transform: translateY(1px);
         }
      }
   }

   .sampleChart {
      max-width: 700px;
      float: left;
   }
}