
.layoutStyle {
    margin-top: 50px;


    .leftSide {
        
        .eventHeader {
            font-size: large;
            color: red;
            text-align: center;
            margin-bottom: 10px;
        }
        .eventList {
            max-height: 500px;
            overflow: scroll;
        }
        
        .listItem {
            background-color: rgb(218, 201, 238);
            border: 1px solid;
            border-color: blue;
            padding: 5px;
        }

        .listItem:hover {
            background-color: rgb(169, 106, 241);
        }
    }

    .rightSide {

    }
}