.sectionPad {
   width: 100%;
   background: #fafafa;
   padding: 150px 120px;

   .describeGames {
      margin-top: 30px;
      max-width: 450px;
      padding-left: 10px;
      float: left;

      h4 {
         color: #40bb3b;
         font-size: 12px;
         font-weight: 500;
         letter-spacing: 1px;
         text-transform: uppercase;
      }

      h2 {
         font-size: 28px;
         line-height: 1.2;
         margin-top: 20px;
         color: #363795;
      }

      p {
         line-height: 1.5;
         margin-top: 20px;
         margin-left: 0;
         color: #848484;
      }
   }

   .sampleGame {
      max-width: 700px;
      float: right;
   }
}