/**
*  These classes can be re used
*  throughout the pages
*/

/**** Margins ****/
.mt20 {
   margin-top: 20px;
}

.mt30 {
   margin-top: 20px;
}

/**** Sections ****/
.section {
   padding-top: 60px;
   padding-bottom: 80px;
   position: relative;
}

.mainTitles {
   letter-spacing: 2px;
   padding-bottom: 1.8rem;
   font-size: 1.75rem;
   font-weight: 700;
   text-transform: uppercase;
}

.featureBox {
   padding: 15px 10px;

   i {
      font-size: 32px;
      margin-bottom: 15px;
   }
}

/*** Background Colors ****/

.lightBg {
   background: #fafbfe;
}



.listItems li:before {
   content: "";
   border-radius: 50%;
   width: 7px;
   height: 7px;
   position: absolute;
   left: 0;
   top: 14px;
}

.listItems li {
   position: relative;
   line-height: 24px;
   font-size: 15px;
   padding: 7px 0 7px 20px;
}

.sizePhoto {
   width: 500px;
   height: 359px;
   border-radius: 15%;
}