/**
*  These classes can be re used
*  throughout the section pages
*/

/**** Margins ****/
.mt20 {
   margin-top: 20px;
}

.mt30 {
   margin-top: 20px;
}

.mt50 {
   margin-top: 50px;
}

.mb0 {
   margin-bottom: 0px;
}

/**** Paddings ****/

.pt15 {
   padding-top: 15px;
}

.pt30 {
   padding-top: 30px;
}

.pb10 {
   padding-bottom: 10px;
}

/**** Section Padding ****/

.section {
   padding-top: 80px;
   padding-bottom: 80px;
   position: relative;
}


/**** Bootstrap Changes  ****/

.text-muted {
   color: #858d96 !important;
}

.text-white {
   color: #fff !important;
}

.text-gray {
   color: #777 !important;
}

.text-dark {
   color: #212121 !important;
}


.btn {
   padding: 10px 22px;
   transition: all 0.5s;
   box-shadow: none !important;
}

.btn:hover {
   transform: translateY(-5px);
}

/*** Background Colors ****/

.lightBg {
   background: #fafbfe;
}


/*** Card box ****/

.featureBox {
   padding: 15px 10px;

   i {
      font-size: 32px;
      margin-bottom: 15px;
   }
}


/*** Different Lists  ****/

.listItems li:before {
   content: "";
   border-radius: 50%;
   width: 7px;
   height: 7px;
   position: absolute;
   left: 0;
   top: 14px;
}

.listItems li {
   position: relative;
   line-height: 24px;
   font-size: 15px;
   padding: 7px 0 7px 20px;
}

/*** Picture Sizes ****/

.sizePhoto {
   width: 500px;
   height: 359px;
   border-radius: 15%;
}